
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }

    .contacts {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin-left: 121px;
        margin-right: 120px;
        gap: 12px;
    }
    

    .hero {
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
         url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
         url(../images/people-office-desktop-2x.jpg);
    }
}

    .hero-container {
        max-width: 100%;
    }

    .hero-title {
        /* margin-bottom: 48px; */
    }

    /* FEATURES */
    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .features-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .item:not(:last-child) {
        margin-right: 24px;
    }
    
    .features-logo-icon {
        display: flex;
        background-color: var(--bg-light-color);
        width: 264px;
        height: 112px;
        border-radius: 4px;
        padding: 24px 102px;
        margin-bottom: 8px;
    }

    .features-item  {
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }

    /* About */
    .about {
        padding-bottom: 120px;
    }

    .about-title {
        color: var(--primary-text-color);
        text-align: center;
        margin-bottom: 72px;
    }

    .about-container {
        display: flex;
        padding: 0;
    }


    .about-photo:not(:last-child) {
        margin-right: 24px;
    }


    /* TEAM */

    .team {
        padding: 120px 0;
    }
    .team-container {
        display: flex;
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }

    .team-list {
        width: calc((100% - 72px) / 4);
    }

    .container-sm {
        width: 1158px;
        row-gap: 72px;
    }

    /* CUSTOMERS */
    .customers {
        padding-top: 130px;
        padding-bottom: 120px;
    }

    .customers-list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .customer-item {
        width: 168px;
        height: 88px;
    }

      /* FOOTER */
      .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 1158px;
        padding: 0;
    }

      .footer-logo {
        display: block;
        width: 30%;
    }

    .footer-content {
        display: block;
        width: 25%;
        margin-left: 24px;
    }

    .footer-subscribe {
        width: 45%;
    }

    .subscribe-submit {
        margin-right: 24px;
    }

   /* Portfolio */
 
}