@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
    }

    .header-btn-mob {
        display: none;
    }

    .header-nav-wrap {
        background-color: transparent;
        max-width: unset;
        height: unset;
        position: static;
        padding: 0;
        display: none;
    }

    .header-btn-mob-close {
        display: none;
    }

    .header-navigation-mobile {
        display: none;
    }
    
    .header-container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    
    .logo {
        color: var(--primary-text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-decoration: none;
        text-align: left;
        margin-right: 76px;
    }



    .header-navigation-tb {
        display: flex;
        width: 100%;
    }
    
    .site-nav {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-right: 121px;
    }
    
    .site-nav a {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
        padding: 24px 0;
        display: inline-block;
        transition: color 250ms var(--timing-function);
    }
    
    
    .site-nav a:hover,
    .site-nav a:focus {
        color: var(--accent-color);
    }
    
    
    .link.current {
        color: var(--accent-color);
        display: block;
        position: relative;
    }
    
    .link.current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--button-bg-color);
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        transition: opacity 250ms var(--timing-function);
    }
    
    .adresses {
        
    }
    
    .contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        
        
    }
    
    .contacts a {
        color: var(--secondary-text-color);
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17px;
        letter-spacing: 0.04em;
        text-decoration: none;
        padding: 16px 0;
        display: block;
        transition: color 250ms var(--timing-function);
    }
    
    .contacts a:hover,
    .contacts a:focus {
        color: var(--accent-color);
    }


    .header-social-list {
        display: none;
    }

    /* HERO section */

    .hero {
        padding: 112px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
         url(../images/people-office-tb.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
         url(../images/people-office-tb-2x.jpg);
    }
    }

    .link.current::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--button-bg-color);
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        transition: opacity 250ms var(--timing-function);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        width: 496px;
    }

    /* FEATURES */

    .features-container {
        display: flex;
        flex-wrap: wrap;
       
    }
    .item {
        width: calc((100% - 24px) / 2);
        padding: 0;
    }

    .features-item,
    .features-text {
        max-width: 264px;
        text-align: left;
    }

  

    .features-logo-icon {
        display: none;
    }


    /* TEAM */
    .team {
        padding: 96px  123px;
    }
    
    .team-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .team-list {
        width: calc((100% - 24px) / 2);
    }

    /* CUSTOMERS */

    .customer-item {
        width: calc((100% - 48px) / 3);
    }

    /* FOOTER */
    .footer-page {
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-logo {
        display: block;
        width: 50%;

    }

    .footer-content {
        display: block;
        width: 45%;
        margin-left: 24px;
    }

    .footer-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .footer-subscribe {
        display: block;

    }

    .footer-form-title {
        text-align: left;
    }

    .footer-form-input {
        display: flex;
        flex-wrap: wrap;
        width: 264px;
    }

    .subscribe-submit {
        margin-left: 24px;
    }

     /* MODAL */

     .modal {
        width: 408px;
    }

    /* Portfolio  */

    .list-portfolio {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
       }

       .buttons-container {
        justify-content: center;
       }
    

       .list-box {
        flex-basis: calc((100% - 24px) / 2);
        padding: 0;
       }
  
}

@media screen and (min-width: 768px), (max-width: 1199px) {
    .container-sm {
        width: 552px;
        row-gap: 72px;
    }

    .footer-container {
        width: 565px;
    }

    .header-navigation-tb {
        width: 768px;
    }

    .list-box {
        width: 356px;
    }
    
}
